.landing-page-login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page-login .overlap-wrapper {
  background-color: #ffffff;
  border: 1px none;
  height: 1000px;
  width: 1500px;
}

.landing-page-login .overlap {
  background-image: url(../../../static/img/bg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1000px;
  position: relative;
}

.landing-page-login .form {
  background-color: #ceedf6;
  border-radius: 8px;
  height: 520px;
  left: 540px;
  position: absolute;
  top: 240px;
  width: 420px;
}

.landing-page-login .welcome-to-fulbright {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.landing-page-login .overlap-group {
  border-radius: 16px;
  height: 292px;
  left: 20px;
  position: absolute;
  top: 114px;
  width: 381px;
}

.landing-page-login .user-icon {
  height: 77px;
  left: 151px;
  position: absolute;
  top: 8px;
  width: 79px;
}

.landing-page-login .form-2 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 292px;
  left: 0;
  position: absolute;
  top: 0;
  width: 381px;
}

.landing-page-login .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 95px;
  white-space: nowrap;
  width: 240px;
}

.landing-page-login .log-in-instance {
  left: 52px !important;
  position: absolute !important;
  top: 227px !important;
}

.landing-page-login .oldschool-button-instance {
  left: 228px !important;
  position: absolute !important;
  top: 227px !important;
}

.landing-page-login .design-component-instance-node {
  background-color: #fea200 !important;
}

.landing-page-login .sign-up-2 {
  font-family: "Sora", Helvetica !important;
  font-weight: 700 !important;
}

.landing-page-login .text-box-instance {
  height: 64px !important;
  left: 21px !important;
  position: absolute !important;
  top: 146px !important;
  width: 340px !important;
}

.landing-page-login .text-box-2 {
  height: 66px !important;
}

.landing-page-login .text-box-3 {
  height: 66px !important;
  left: 325px !important;
}

.landing-page-login .text-box-4 {
  top: 63px !important;
  width: 310px !important;
}

.landing-page-login .text-box-5 {
  width: 310px !important;
}

.landing-page-login .text-box-6 {
  min-width: 251px !important;
}

.landing-page-login .fulbright {
  height: 76px;
  left: 521px;
  position: absolute;
  top: 164px;
  width: 217px;
}

.landing-page-login .one-survey {
  height: 76px;
  left: 738px;
  position: absolute;
  top: 164px;
  width: 255px;
}
